<html>
<head>
<title>Game of Thrones MASH</title>
</head>
<body>
<h1><center>Game of Thrones MASH: Find out your future in the Universe of Fire and Ice</h1></center>

<center><img src="/game.jpg" alt="game of thrones">
<h2>Who will you marry? Will it be the handsome Jon Snow, who knows nothing, King Jeoffery the sociopath or the lovely Queen Margaery?</h2>

<img src="/hot.jpg" alt="hotties">

<div>
<form action="/" method="POST">
  <input type="text" name="hottie[]"placeholder="GOT hottie 1"><br/>
  <input type="text" name="hottie[]" placeholder="GOT hottie 2" ><br/>
  <input type="text" name="hottie[]" placeholder="GOT hottie 3" ><br/>
  <input type="text" name="hottie[]" placeholder="GOT hottie 4"/><br/>
</div>

<h2>What House will you pleadge your loyalty to? Starks, Lannister, Targaryen or maybe Tyrell?</h2>

<img src="/house.jpg" alt="house">

<div>
  <input type="text" name="house[]" placeholder="Enter House 1"><br/>
  <input type="text" name="house[]" placeholder="Enter House 2" ><br/>
  <input type="text" name="house[]" placeholder="Enter House 3" ><br/>
  <input type="text" name="house[]" placeholder="Enter House 4"/><br/>
</div>

<h2>What will your occupation be? Will you be Hand of the King or be a tavern wench?</h2>

<img src="/job.jpg" alt="job">
<div>
  <input type="text" name="job[]" placeholder="Job 1"><br/>
  <input type="text" name="job[]" placeholder="Job 2" ><br/>
  <input type="text" name="job[]" placeholder="Job 3" ><br/>
  <input type="text" name="job[]" placeholder="Job 4"/><br/>
</div>

<h2>Where will you dwell in the continent of Westeros or Esos? Will it be Dorne, Kings Landing, Valeria or someplace else?</h2>

<img src="/map.jpg" alt="map">
<div>
  <input type="text" name="location[]" placeholder="Location 1"><br/>
  <input type="text" name="location[]" placeholder="Location 2" ><br/>
  <input type="text" name="location[]" placeholder="Location 3" ><br/>
  <input type="text" name="location[]" placeholder="Location 4"/><br/>
</div>

<h2>How many battles will you fight?</h2>

<img src="/battle.jpg" alt="battle">
<div
  <input type="text" name="battle[]" placeholder="Enter number"><br/>
  <input type="text" name="battle[]" placeholder="Enter number" ><br/>
  <input type="text" name="battle[]" placeholder="Enter number" ><br/>
  <input type="text" name="battle[]" placeholder="Enter number"/><br/>
</div>

<h2>What pet will you have? Direwolf, dragon or other?</h2>

<img src="/pet.jpg" alt="pets">
<div>
  <input type="text" name="pet[]" placeholder="Enter pet"><br/>
  <input type="text" name="pet[]" placeholder="Enter pet" ><br/>
  <input type="text" name="pet[]" placeholder="Enter pet" ><br/>
  <input type="text" name="pet[]" placeholder="Enter pet"/><br/>
 </div>

<h2>What superpower will you have? Will it be bringing back the dead, seeing the past present and future, or the art of changing faces?  </h2>

<img src="/power.jpg" alt="powers">
<div>
  <input type="text" name="power[]" placeholder="Enter superpower"><br/>
  <input type="text" name="power[]" placeholder="Enter superpower" ><br/>
  <input type="text" name="power[]" placeholder="Enter superpower" ><br/>
  <input type="text" name="power[]" placeholder="Enter superpower"/><br/>
</div>

<h2>Who will be your nemisis in the Game of Thrones? Will it be the vengeful Queen Cersi, or Daenerys (whose grand title is too long to fit in here)? </h2>

<img src="/enemy.png" alt="enemy">
<div>
  <input type="text" name="enemy[]" placeholder="Enter enemy 1"><br/>
  <input type="text" name="enemy[]" placeholder="Enter enemy 2" ><br/>
  <input type="text" name="enemy[]" placeholder="Enter enemy 3" ><br/>
  <input type="text" name="enemy[]" placeholder="Enter enemy 4"/><br/>
  <input type="submit" value="Submit">
</div>
</form>
</body>
</center>
</html>
